.ProjectCFGList {
    height: 100%;
   
    .ProjectCFGList_header{
        height: 60px;
        line-height: 60px;
        border-bottom: 1px solid #e1e4e8;
        .ProjectCFGList_headerLogo{
            margin: 10px 22px 10px 31px;
            display: block;
            float: left;
            height:38px;
        }
        .dropdown{
            width:300px;
            float:left;
        }
        .dropdown.headDropdown{
            float:right;
            width:68px;
            img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                float: left;
                margin: 10px  14px;
            }
           .dropdown-menu{
                left:-214px;
            } 
            dl{
                margin:0;
                padding:0;
                button{
                    font-size: 12px;
                    border-radius: 4px;
                    margin:0;
                    background:none;
                    border:0;
                    outline:none;
                    &.button_primary{
                        color: #fff;
                        background-color: #13ce66;
                        border-color: #13ce66;
                    }
                    &.button_success{
                        color: #fff;
                        background-color: #13ce66;
                        border-color: #13ce66;
                    }
                }
                dt{
                    width: 270px;
                    height: 76px;
                    padding:21px 17px 0 17px;
                    margin:0;
                    h5{
                        float: left;
                        width: 60px;
                        height: 60px;
                        margin-top: 0;
                        img{
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            -webkit-border-radius: 50%;
                            -moz-border-radius:50%;
                            margin:0;
                            padding:0;
                        }
                    }
                    h4{
                        float: right;
                        width: 162px;
                        font-size: 12px;
                        margin:0;
                        font-weight:normal;
                        p{
                            width: 162px;
                            height:24px;
                            line-height:24px;
                            margin:0;
                            &:nth-child(1){
                                
                            }
                            b{
                                font-weight:normal;
                                color:#8E9BB1;
                                float:right;
                                &:hover{
                                    color:#4888FF;
                                }
                            }
                            span{
                                display: inline-block;
                                float: left;
                                border:0;
                                background: none;
                                width: auto;
                                font-size: 12px;
                                height: 20px;
                                line-height: 20px;
                                margin:0;
                                text-align: left;
                                padding:0;
                            }
                            i{
                                color:#FF6261;
                                background: none;
                                display: inline-block;
                                height:20px;
                                width: auto;
                                margin-left: 5px;
                                font-size: 12px;
                                line-height: 20px;
                                float: left;
                                font-style:normal;
                            }
                        }
                    }
                }

                dd{
                    height: 37px;
                    border-top: 1px solid #F4F5F6;
                    margin:0;
                    width:100%;
                    overflow:hidden;
                    a{
                        display: block;
                        width: 133px;
                        height: 37px;
                        line-height: 37px;
                        float:left;
                        text-align: center;
                        color:#000;
                        padding:0;
                        margin:0;
                        text-decoration:none;
                        border-right: 1px solid #F4F5F6;
                        &:nth-child(2){
                            border:0;
                        }
                        &:hover{
                            color:#4888FF;
                        }
                    }
                }
            }
        }
        .dropdown.MessageDropdown{
            float:right;
            width:64px;
            img{
                width: 24px;
                height: 17px;
                float: left;
                margin: 23px;
                cursor:pointer;
            }
            .messageCount{
                position:relative;
                margin-right: 10px;
                span{
                    position:absolute;
                    top:10px;
                    left:38px;
                    display:block;
                    padding:3px 5px;
                    background:#f00;
                    height:20px;
                    line-height:1;
                    border-radius:50%;
                    color:#fff;
                }
            }
            .dropdown-menu{
                left:-190px;   
                width: 238px;
                padding:0; 
                li{
                    line-height: 16px;
                    overflow: hidden;
                    margin-top: 0;
                    border-top: 1px solid #d1dbe5;
                    font-size:12px;
                    &:nth-child(1){
                        font-size:16px;
                        color:#000;
                        a{
                             text-align:left;
                        }
                       
                    }
                    a{
                        padding: 5px 10px;
                        text-align:center;
                        span{
                            display:block;
                            width: 100%;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            text-align:left;
                            &:nth-child(2){
                                text-align:right;
                            }
                        }
                        
                        button{
                            font-size: 12px;
                            border-radius: 4px;
                            margin:0;
                            background:none;
                            border:0;
                            outline:none;
                            padding: 7px 9px;
                            line-height: 1;
                            white-space: nowrap;
                            cursor: pointer;
                            background: #fff;
                            border: 1px solid #bfcbd9;
                            color: #1f2d3d;
                            &:hover{
                                border: 1px solid #20A0FF;
                                color: #20A0FF;
                            }
                        }
                    }
                }
            }
        }
    }
    .brand {
        display: inline-block;
        color: #464068;
        cursor: pointer;
        font-size: 18px;
        &:hover {
            color: paleturquoise;
        }
        .brand-icon {
            margin-right: 4px;
        }
    }
    .cfg-grid-group__component {
        margin-top: 20px;
        .cfg-grid-group__item {
            float: left;
            position: relative;
            margin: 14px;
            -webkit-transition: -webkit-transform .218s ease;
            transition: -webkit-transform .218s ease;
            transition: transform .218s ease;
            transition: transform .218s ease, -webkit-transform .218s ease;
            -webkit-transform: translateY(0);
            transform: translateY(0);
            cursor: pointer;
            list-style: none;
            &.active,
            &:hover {
                -webkit-transform: translateY(-5px);
                transform: translateY(-5px);
            }
            .card {
                border-radius: 6px;
                background-size: cover;
                -webkit-box-shadow: 0 7px 21px rgba(56, 56, 56, 0.15);
                box-shadow: 0 7px 21px rgba(56, 56, 56, 0.15);
                -webkit-transition: -webkit-box-shadow 0.218s ease;
                transition: -webkit-box-shadow 0.218s ease;
                transition: box-shadow 0.218s ease;
                transition: box-shadow 0.218s ease, -webkit-box-shadow 0.218s ease;
                margin: 0px auto;
                overflow: hidden;
                background-color: #ecf0f1;
                background-image: linear-gradient(#ffffff 2px, transparent 2px), linear-gradient(90deg, #ffffff 2px, transparent 2px), linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
                background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
                background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
                background-attachment: scroll;
                height: 128px;
                width: 254px;
                .card__name {
                    margin: 4px 0 0 8px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    display: inline-block;
                    max-width: 100%;
                    font-size: 18px;
                    line-height: 30px;
                    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
                    text-align: right;
                }
                .card__sethome {
                    margin: 8px 8px 0 0;
                }
                .card_ctrlist {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 28px;
                    line-height: 28px;
                    background: rgba(46, 40, 68, 0.8);
                    font-size: 13px;
                    padding: 0 10px;
                    color: #fff;
                }
                .card__add {
                    display: block;
                    width: 100%;
                    height: 128px;
                    line-height: 128px;
                    font-size: 28px;
                    text-align: center;
                }
            }
        }
    }
}