.u-drag {
    position: absolute;
    border: 1px dashed #808080;
    &.J-selected,
    &:hover {
        border: 1px dashed transparent;
        border-color: blue;
    }
}
.J-wrapper{
    margin: 0px auto;
    height: 800px;
}
.select-helper {
    pointer-events: none;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
    position: absolute;
    background-color: rgba(204, 204, 204, 0.2);
    border: 1px solid #ccc;
}