 
 
<div style="height:1000px" " class="unit J-unit" >  
    <div class="u-drag"
        data-equip-uuid="J_uuid_121321" 
        data-js="function($dom){console.log($dom);$dom.text(store.Par1 - -1)}"
        style="position: absolute;height:200px;width:200px;color:red"
    >1111</div>
    <div class="u-drag"
        data-equip-uuid="J_uuid_1213213" 
        data-js="function($dom){console.log($dom);$dom.text(store.Par2 - -1)}"
        style="position: absolute;height:200px;width:200px;color:red"
    >1111</div>
    <div class="u-drag"
        data-equip-uuid="J_uuid_1213214" 
        data-js="function($dom){console.log($dom);if('store.Par2 == 3'){$dom.hide()}}"
        style="position: absolute;height:200px;width:200px;color:red"
    >1111</div>
</div>
<script>
        require.async('modules/monitoring/components/Unit/index.es');
</script>