<link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="lib/admin-lte/dist/css/AdminLTE.min.css">
<link rel="stylesheet" type="text/css" href="lib/admin-lte/dist/css/skins/skin-black-light.css">
<link rel="stylesheet" type="text/css" href="lib/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_457041_ypd7l5f0s9oirudi.css">
<style>
    .alert {
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
        display: inline-block;
        pointer-events: all;
        font-size: 12px;
    }

    .alert .close {
        font-size: 14px;
    }

    .alert .fa {
        margin-right: 8px;
    }

    .alert-info {
        background: #fff !important;
        color: #666 !important;
    }

    .iconcfgfont {
        font-family: "iconcfgfont" !important;
        font-size: 28px;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
</style>