 
<script src="lib/jquery/jquery.js"></script>
<script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="lib/bootbox/bootbox.min.js"></script>
<script src="lib/bootstrap-notify/bootstrap-notify.js"></script>
<script src="lib/bootstrap-contextmenu/bootstrap-contextmenu.js"></script>
<script src="lib/jquery.highlight-within-textarea/jquery.highlight-within-textarea.js"></script>
<script src="lib/admin-lte/dist/js/adminlte.min.js"></script>
<script src="lib/echarts/echarts.min.js"></script>