.tool-bar {
    height: 32px;
    margin-right: 16px;
    margin-left: 20px;
    line-height: 32px;
    color: #333;
    .tool-btn {
        cursor: pointer;
        display: inline-block;
        width: 32px;
        height: 32px;
        padding: 0 5px;
        line-height: 32px;
        text-align: center;
        &:hover {
            opacity: .8;
            background: #eee;
        }
    }
}